.c-navigationHeader{

    width: 100%;
    height: 100px;
    background-color: $lightgray;
    display: flex;
    justify-content: center;
    
}

.c-navigationHeader__logo{

    width: 140px;
    height: 60px;
    text-align: left;
    display: flex;


}

.c-navigationHeader__liste{

    height: 100%;
    text-align: center;
}

.c-navigationHeader__lien {

    display: inline-block;
    line-height: 70px;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}

.c-navigationHeader__lien a{

    text-decoration: none;
    color: $dominant;
}

.c-navigationHeader__interaction{
    text-align: right;
}

.c-compteLogo {
    width: 140px;
    height: 60px;
}

.c-panierLogo{
    width: 140px;
    height: 60px;
}


