.c-navigationHeader{

    width: 100%;
    height: 100px;
    background-color: #F4F4F4;
    display: flex;
    
}

.c-navigationHeader__logo{
    width: 140px;
    height: 60px;
    text-align: left;
}

.c-navigationHeader__liste{
    height: 100%;
    text-align: center;
}

.c-navigationHeader__lien {
    display: inline-block;
    line-height: 70px;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}

.c-navigationHeader__lien a{
    text-decoration: none;
    color: #406363;
}

.c-navigationHeader__interaction{
    height: 100%;
    text-align: right;
}


